@keyframes animation {
  50% {
    left: -30px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

.paragraph-animation {
  animation-name: animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}