body {
  margin: 0;
}

@keyframes animation {
  50% {
    left: -30px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes paragraph-appear-animation {
  0% {
    left: -90px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes paragraph-disappear-animation {
  0% {
    left: 0px;
    opacity: 1;
  }
  100% {
    left: -90px;
    opacity: 0;
  }
}

@keyframes paragraph-up-appear-animation {
  0% {
    bottom: -90px;
    opacity: 0;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes paragraph-down-disappear-animation {
  0% {
    bottom: 0px;
    opacity: 1;
  }
  100% {
    bottom: -90px;
    opacity: 0;
  }
}

@keyframes paragraph-down-appear-animation {
  0% {
    top: -90px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes paragraph-up-disappear-animation {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -90px;
    opacity: 0;
  }
}

@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes title-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes desktop-nav-open-animation {
  0% {
    background-color: transparent;
    padding: 3rem 10rem;
  }
  100% {
    background-color: black;
    padding: 0.5rem 10rem;
  }
}

@keyframes desktop-nav-close-animation {
  0% {
    background-color: black;
    padding: 0.5rem 10rem;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
    padding: 3rem 10rem;
  }
}

/* OTHER ANIMATIONS ========================================= */

.letter-animation {
  animation-name: animation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.symbol-blink {
  animation: blink-animation 2s infinite;
}

.title {
  animation-name: title-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

/* PARAGRAPH ANIMATIONS ========================================= */

.paragraph-animation-appear {
  animation-name: paragraph-appear-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.paragraph-animation-disappear {
  animation-name: paragraph-disappear-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.paragraph-animation-up-appear {
  animation-name: paragraph-up-appear-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.paragraph-animation-down-disappear {
  animation-name: paragraph-down-disappear-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.paragraph-animation-up-disappear {
  animation-name: paragraph-up-disappear-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.paragraph-animation-down-appear {
  animation-name: paragraph-down-appear-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

/* DESKTOP NAV ANIMATIONS ========================================= */

.animate-open-desktop-nav {
  animation-name: desktop-nav-open-animation;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  transition: width 0.7s ease-in 1s;
}

.animate-close-desktop-nav {
  animation-name: desktop-nav-close-animation;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  transition: width 0.7s ease-in 1s;
}

/* PARAGRAPH DELAYED ANIMATIONS ========================================= */

.paragraph-animation-appear-delay-1 {
  animation-name: paragraph-appear-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
  animation-delay: 0.2s;
}

.paragraph-animation-appear-delay-2 {
  animation-name: paragraph-appear-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
  animation-delay: 0.4s;
}

.paragraph-animation-appear-delay-3 {
  animation-name: paragraph-appear-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
  animation-delay: 0.6s;
}

.paragraph-animation-appear-delay-4 {
  animation-name: paragraph-appear-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
  animation-delay: 0.8s;
}

.paragraph-animation-appear-delay-5 {
  animation-name: paragraph-appear-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
  animation-delay: 1s;
}
