body {
  margin: 0;
}

@keyframes letter-1-animation {
  50% {
    left: 150px;
    opacity: 0;
  }
  100% {
    left: 180px;
    opacity: 1;
  }
}

.letter-1 {
  animation-name: letter-1-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  transition: ease-in 1s;
}

@keyframes letter-2-animation {
  50% {
    left: 200px;
    opacity: 0;
  }
  100% {
    left: 230px;
    opacity: 1;
  }
}

.letter-2 {
  animation-name: letter-2-animation;
  animation-duration: 1s;
  animation-delay: 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: width 2s ease-in 1s;
}

@keyframes letter-3-animation {
  50% {
    left: 230px;
    opacity: 0;
  }
  100% {
    left: 260px;
    opacity: 1;
  }
}

.letter-3 {
  animation-name: letter-3-animation;
  animation-duration: 1s;
  animation-delay: 0.4s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: width 2s ease-in 1s;
}

@keyframes letter-4-animation {
  50% {
    left: 260px;
    opacity: 0;
  }
  100% {
    left: 290px;
    opacity: 1;
  }
}

.letter-4 {
  animation-name: letter-4-animation;
  animation-duration: 1s;
  animation-delay: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: width 2s ease-in 1s;
}

@keyframes letter-5-animation {
  50% {
    left: 290px;
    opacity: 0;
  }
  100% {
    left: 320px;
    opacity: 1;
  }
}

.letter-5 {
  animation-name: letter-5-animation;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: width 2s ease-in 1s;
}

@keyframes letter-6-animation {
  50% {
    left: 320px;
    opacity: 0;
  }
  100% {
    left: 350px;
    opacity: 1;
  }
}

.letter-6 {
  animation-name: letter-6-animation;
  animation-duration: 1s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: width 2s ease-in 1s;
}

@keyframes letter-7-animation {
  50% {
    left: 350px;
    opacity: 0;
  }
  100% {
    left: 380px;
    opacity: 1;
  }
}

.letter-7 {
  animation-name: letter-7-animation;
  animation-duration: 1s;
  animation-delay: 1.2s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: width 2s ease-in 1s;
}

@keyframes letter-8-animation {
  50% {
    left: 380px;
    opacity: 0;
  }
  100% {
    left: 410px;
    opacity: 1;
  }
}

.letter-8 {
  animation-name: letter-8-animation;
  animation-duration: 1s;
  animation-delay: 1.4s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: width 2s ease-in 1s;
}

@keyframes letter-9-animation {
  50% {
    left: 410px;
    opacity: 0;
  }
  100% {
    left: 440px;
    opacity: 1;
  }
}

.letter-9 {
  animation-name: letter-9-animation;
  animation-duration: 1s;
  animation-delay: 1.6s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: width 2s ease-in 1s;
}

@keyframes letter-10-animation {
  50% {
    left: 440px;
    opacity: 0;
  }
  100% {
    left: 470px;
    opacity: 1;
  }
}

.letter-10 {
  animation-name: letter-10-animation;
  animation-duration: 1s;
  animation-delay: 1.8s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: width 2s ease-in 1s;
}
