body {
  margin: 0;
}

@keyframes animation {
  50% {
    left: -30px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes dot-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes title-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.letter1 {
  animation-name: animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.letter2 {
  animation-name: animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.letter3 {
  animation-name: animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.letter4 {
  animation-name: animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.letter5 {
  animation-name: animation;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.letter6 {
  animation-name: animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.letter7 {
  animation-name: animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.letter8 {
  animation-name: animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.letter9 {
  animation-name: animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.letter10 {
  animation-name: animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}

.letter11 {
  animation: dot-animation 2s infinite;
}

.title {
  animation-name: title-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: width 1s ease-in-out 1s;
}
